header{
   height: 250px;
   background-image:url("../img/pattern.png");
   background-color: blue;
}

#logo{
   height:150px ;
}

#scritta1{
   font-size: 20px; ;
}

#scritta2{
   font-size: 12px;
}

#head-tabella{
   background-color: rgb(0, 102, 255);
   color: aliceblue;
}

.body-tabella{
   background-color: aqua;
  
}